@import url("./App.css");
body {
  background: var(--bg-color);
}

.ant-anchor {
  align-items: center;
  justify-content: center;
  z-index: 999;
  background: var(--bg-green);
  color: var(--text-color);
  position: static;
  width: 100%;
  height: 60px;
}
.ant-anchor-link-title p {
  font-size: 20px;
  color: var(--bg-color);
}

/*  Home Page  */
.home-div {
  /* margin-top: 100px; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
  margin-top: 0;
}

.left {
  background-color: var(--bg-color);
  flex: 1;
  padding-left: 10%;
  padding-top: 15%;
  padding-bottom: 10%;
  padding-right: 5%;
  color: var(--text-color);
  overflow: hidden;
}

.name {
  color: transparent;
  font-size: 50px;
  background-image: linear-gradient(60deg, #202e44, rgb(19, 221, 46));
  background-clip: text;
}

.title {
  font-size: 30px;
  overflow: hidden;
}

.title-wrapper {
  height: 100%;
  overflow: hidden;
}

.title-item {
  height: 50px;
  font-size: 30px;
  color: var(--bg-green);
  display: flex;
  border-right: 0.15em solid orange;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  /* ensures content not revel until width */
  overflow: hidden;
  animation: typing 8s infinite steps(30, end), blink-caret 1s step-end infinite;
}

@keyframes typing {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
}

@keyframes blink-caret {
  20%,
  80% {
    border-color: orange;
  }
}

.description {
  font-size: 20px;
  color: var(--text-color);
}

.right {
  flex: 1;
  background-color: var(--bg-color);
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.i-bg {
  background-color: var(--bg-green);
  clip-path: polygon(30% 0, 100% 0, 100% 100%, 29% 100%, 0 43%);
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.i-img {
  width: 70%;
  height: 80%;
  object-fit: contain;
  /* overflow: hidden; */
  position: absolute;
}

@media (max-width: 768px) {
  .ant-anchor-link-title p {
    font-size: 16px;
  }
  .home-div {
    flex-direction: column;
  }

  .left {
    /* padding: 50px; */
    width: 100%;
    padding-right: 10%;
    background-image: url("./images/img1.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--bg-color);
    /* filter: blur(1px); */
  }
  .title {
    font-size: 20px;
    z-index: 999;
  }
  .title-item {
    height: 30px;
    font-size: 18px;
    border-right: 2px solid orange;
    margin-bottom: 10px;
  }
  .intro {
    font-size: smaller;
    margin-top: 15px;
    margin-bottom: 5px;
  }
  .name {
    font-size: 30px;
  }
  .right {
    display: hidden;
  }
  .i-img {
    opacity: 0;
  }
  .description {
    font-size: 12px;
  }
}

/*  ABout Page  */
.about {
  /* padding: 50px; */
  /* display: flex;
  flex-direction: column;
  color: antiquewhite;
  background-color: var(--bg-color); */
}

.about-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;

  padding: 20px;
  /* background-color: red; */
}

.about-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background: blue; */
}

.about-left img {
  border-radius: 30px;
  width: 50%;
  height: 70%;
  box-shadow: -30px -30px var(--bg-green);
  /* aspect-ratio: 5/9; */
}
.about-right {
  flex: 1;
  /* padding: 90px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background: violet; */
}
.about-right h3 {
  font-size: 35px;
  font-weight: 400;
  text-align: center;
  color: var(--text-color);
  margin-top: 15%;
  margin-bottom: 4%;
}

table {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 70%;
}

table tr td:first-child {
  padding: 2px;
  font-size: 20px;
  color: var(--bg-green);
}
table tr td:nth-child(2) {
  color: blue;
}

table tr td:last-child {
  color: var(--text-color);
}

.about-icons {
  margin-top: 10px;
  display: flex;
  width: 80%;
  height: 90px;
  align-items: center;
  justify-content: space-evenly;
  /* background-color: red; */
  color: var(--text-color);
}

@media (max-width: 768px) {
  .about-container {
    flex-direction: column-reverse;
  }

  .about-left img {
    width: 80%;
    box-shadow: 0 0;
  }
  .about-right h3 {
    font-size: 2rem;
  }
  table {
    width: 100%;
  }
}

/* EDUCATION AND EXPERIANCES */
.ant-timeline .ant-timeline-item {
  width: 600px;
}

.ant-timeline-item-content {
  color: rgb(10, 186, 72);
  width: 100%;
  margin: 20px;
}

.ant-timeline-item-content p:first-child {
  color: var(--bg-green);
  font-size: 17px;
}
.ant-timeline-item-content p:last-child {
  color: var(--text-color);
  font-size: 14px;
}

.ant-timeline-item-label {
  color: var(--bg-green);
}

.ant-timeline-item-tail {
  width: 0.1em;
  background-color: var(--bg-green);
}

.ant-timeline-item-head .ant-timeline-item-head-blue {
  background-color: var(--bg-green);
  color: red;
  width: 20px;
}

.edu-ex {
  /* background-color: pink; */
  display: flex;
  flex-direction: row;
  padding: 20px;
}

@media (max-width: 768px) {
  .edu-ex {
    flex-direction: column;
    /* padding: 10%; */
  }

  .ant-timeline .ant-timeline-item {
    width: 100%;
  }

  .experiance h1,
  .education h1 {
    font-size: 26px;
  }
}

/* EXperiance */
.experiance {
  flex: 1;
  /* background: pink; */
  width: 100%;
  height: 100%;
  display: flex;

  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  overflow: hidden;
}

.experiance h1,
.education h1 {
  font-size: 35px;
  font-weight: 400;
  color: var(--text-color);
  margin-bottom: 40px;
}

.education {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

/* .education h1{
  font-size: 35px;
  font-weight: 400;
  color: antiquewhite;
  margin-bottom: 10px;
} */
/*  SKills Page  */

.skills {
  background-color: var(--bg-color);
  /* padding: 20px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skills h2 {
  margin-top: 30px;
  font-size: 2rem;
  color: var(--text-color);
}

.s-skills {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: center;
  flex-wrap: wrap;

  /* background-color: red; */
}

.grid-item {
  width: 120px;
  padding: 20px;
  background-color: #fff;
  margin: 4px;
  border-radius: 3px;
}

.grid-item:hover {
  background-color: var(--bg-green);
  color: var(--bg-color);
}
.grid-item:hover .s-c {
  color: var(--bg-color);
}

.grid-item img {
  width: 50px;
}

.s-c {
  color: var(--text-color);
  font-size: 15px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

@media (max-width: 768px) {
  .grid-item {
    width: 100px;
  }

  .skills h2 {
    font-size: 2rem;
    font-weight: normal;
  }
}

/* Services page  */

.services {
  width: 100%;
  background: var(--bg-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services p {
  font-size: 18px;
  margin-top: 70px;
}

.services h3 {
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 0px;
}

/* Styles for services container */
.service-main {
  width: 100%;
  display: flex;
  /* background-color: burlywood; */
  flex-direction: column;
  /* padding: 10px; */
  margin-top: 0px;
  padding-bottom: 40px;
}

.service-main .row {
  /* background-color: aquamarine; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin-top: 60px;
}

/* Styles for each card */

.card {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  padding: 10px;
  border-radius: 5px;
  box-shadow: -0.1rem 0.1rem 0.3rem rgb(255, 255, 255);
  margin: 20px;
}

.card:hover {
  /* box-shadow: 0px 0px 5px 5px #e6e6e6; */
  background-color: var(--bg-green);
  color:white;
}

.card:hover .icon {
  color: var(--bg-green);
  background-color: white;
  transition: 0.8s ease-in-out;
  transform: translateY(-50px);
}

.card:hover .card-body {
  transition: 0.8s ease;
  transform: translateY(-30px);
  color:white;
}

.card:hover .card-body h3{
  color: var(--text-white);
}
.card:hover .card-body p{
  color: var(--bg-color);
}
.icon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  background-color: var(--bg-green);
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-body h3 {
  color: black;
  font-size: 20px;
  font-weight: 600;
  margin: 10px;
}

.card-body p {
  color: var(--text-color);
  text-align: center;
  /* background-color: yellow; */
  margin-top: 10px;
  margin-bottom: 5%;
}

/* Media query for small devices */
@media (max-width: 768px) {
  .card {
    width: 80%;
    color: var(--bg-color);
  }

  .services h3 {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 0px;
  }
  .card-body h3 {
    font-size: 20px;
    font-weight: 600;
  }
}

/* Contact Pages */

.contact {
  background: var(--bg-color);

  display: flex;
  flex-direction: row;
  position: relative;
}
.c-line {
  position: absolute;
  width: 25px;
  height: 100%;
  background-color: var(--bg-green);
}
.c-title {
  font-size: 40px;
  margin: 10px;
  color: var(--bg-green);
}

.c-title p {
  color: var(--text-color);
  font-size: 20px;
  margin: 10px;
}

.c-icon {
  display: flex;
  align-items: center;
  margin: 10px;
}

.c-icon p {
  color: var(--text-color);
  margin-left: 10px;
  margin-top: 10px;
}

img {
  width: 30px;
}

.c-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 50px;
  justify-content: flex-start;
  align-items: flex-start;
}

.c-right {
  flex: 1;
  justify-content: center;
  padding: 50px;
}

.form {
  width: 90%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.form input {
  width: 100%;
  height: 40px;
  border: none;
  border-bottom: 1px solid rgb(24, 173, 24);
  margin: 10px 0px;
  padding-left: 10px;
  font-size: 14px;
  background-color: transparent;
  color: var(--text-color);
}

.form textarea {
  width: 100%;
  margin: 10px 0px;
  padding-left: 10px;
  font-size: 14px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgb(24, 173, 24);
  color: var(--text-color);
}

.form button {
  width: 100%;
  border: none;
  padding: 15px;
  background-color: var(--bg-green);
  color: var(--text-color);
  font-weight: 500;
  cursor: pointer;
}

.desc {
  color: var(--text-color);
  font-size: 22px;
}

/* for small screen */
@media (max-width: 767px) {
  .contact {
    flex-direction: column;
    /* background-color: #fff; */
  }

  .c-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  input {
    width: 70%;
  }
}

/* Project Details */

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
}
.projects p {
  font-size: 16px;
  font-weight: 200;
}

.projects h3 {
  font-size: 35px;
  font-weight: 400;
}
.projects-container {
  background: violet;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.project-card {
  background: indigo;
  width: 30%;
  height: 25%;
}
.project-card img {
  width: 100%;
  height: 100%;
}
.project-details {
}
.project-details h3 {
  font-size: 20px;
}
.project-details p {
}

/* Footer page */
.footer {
  text-align: center;
  color: var(--text-color);
  background-color: var(--bg-color);
  height: auto;
  /* padding: 8px; */
  position: relative;
}

.footer h4 {
  color: var(--text-color);
  padding: 30px;
}

.f-line {
  position: absolute;
  width: 25px;
  height: 100%;
  background-color: var(--bg-green);
}
